$shadow-color: #514E58;

@mixin transition($arg...) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -ms-transition: $arg;
  -o-transition: $arg;
  transition: $arg;
}
@mixin transform($arg...) {
  -webkit-transform: $arg;
  -moz-transform: $arg;
  -ms-transform: $arg;
  -o-transform: $arg;
  transform: $arg;
}

@mixin transform-origin ($arg...) {
  -webkit-transform-origin: $arg;
  -moz-transform-origin: $arg;
  -ms-transform-origin: $arg;
  -o-transform-origin: $arg;
  transform-origin: $arg;
}

@mixin shadow-standard {
  -webkit-box-shadow: 1px 2px 10px 1px $shadow-color;
  -moz-box-shadow: 1px 2px 10px 1px $shadow-color;
  box-shadow: 1px 2px 10px 1px $shadow-color;
}
