@import "helpers";

body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #EEE;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

a {
  color: inherit;
}

.italic {
  font-style: italic;
}

hr {
  border: 0;
  width: 50%;
  height: 2px;
  background-color: #000000;
  margin: 40px auto;
}

.main-content {
  height: 100vh;
  position: relative;
}

.bg-section {
  height: 250vh;
}

.intro-content-section {
  position: fixed;
  top: 0;
  background: url("../resources/profile.png") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 50%;
  color: white;
  @include transition(all 0.6s);

  .bg-filter {
    z-index: 1;
    background: rgba(99,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    @include transition(background 0.6s);
  }

  .vc-content {
    max-width: inherit;
    margin: 50px 0 50px 5%;
    z-index: 2;
    opacity: 0;
    @include transition(opacity 0.3s);
  }

  .title {
    line-height: 100%;
  }
}
.intro-content-section.open {
  width: 85%;

  .bg-filter {
    background: rgba(99,0,0, 0.8);
    @include transition(background 0.6s);
  }

  .vc-content {
    opacity: 1;
    @include transition(opacity 0.6s 0.6s);
  }
}

.header-section {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;

  .content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .content::before {
    content: '';
    display: inline-block;
    width: 50%;
    @include transition(all 0.6s);
  }
}

.header-section.open {
  .content::before {
    width: 80%;
    @include transition(all 0.6s);
  }
}

.below-fold {
  position: relative;
  z-index: 5;
}

.img-section {
  height: 15vh;
  line-height: 15vh;
  background: #EEE;
  background: url("../resources/pattern.png")  no-repeat fixed center;
  background-size: cover;
  text-align: center;
}

.content-section {
  background: #EEE;
  padding: 100px 0;
}

.vc-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vc-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
.center {
  text-align: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;

  .thumb {
    width: 80%;
    margin: 0 auto;
    order: 1;

    img {
      width: 100%;
      max-width: 320px;
    }
  }

  .description {
    text-align: left;
    order: 2;

    .subtext {
      font-style: italic;
      font-size: 0.9em;
    }
  }
}

// Tablet and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 650px) {
  p {
    font-size: 1.4em;
  }

  hr {
    margin: 60px auto;
  }

  .title {
    font-size: 4em;
  }

  .img-section {
    height: 20vh;
    line-height: 20vh;
  }

  .content-section {
    padding: 200px 0;
  }

  .project {
    flex-direction: row;

    .thumb {
      width: 0;
      height: 100%;
      flex-grow: 3;

      img {
        vertical-align: middle;
      }
    }

    .description {
      width: 0;
      flex-grow: 5;
      padding: 0 0 0 50px;

      .subtext {
        font-size: 1em;
      }
    }
  }

  .project.reverse {
    .thumb {
      order: 2;
    }

    .description {
      order: 1;
      padding: 0 50px 0 0;
      text-align: right;
    }
  }

}


// Laptops and bigger
// --------------------------------------------------------------------------------------------------------------
@media (min-width: 960px) {
  .title {
    font-size: 5em;
  }

  .content-section {
    padding: 250px 0;
  }

  .vc-content {
    max-width: 900px;
  }

}
