@import "helpers";

body {
  margin: 0;
}

.main-content {
  height: 100vh;
  background-color: #DDD;
  position: relative;
}

.bg-section {
  height: 250vh;
}

.content-section {
  position: fixed;
  top: 0;
  //background-color: #851713;
  background: url("../resources/profile.png") no-repeat center;
  background-size: cover;
  height: 100%;
  width: 50%;
  color: white;
  @include transition(all 0.6s);

  .bg-filter {
    z-index: 1;
    background: rgba(99,0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    @include transition(background 0.6s);
  }

  .vc-content {
    z-index: 2;
  }
}
.content-section.open {
  width: 85%;

  .bg-filter {
    background: rgba(99,0,0, 0.8);
    @include transition(background 0.6s);
  }
}

.header-section {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;

  .content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
  .content::before {
    content: '';
    display: inline-block;
    width: 50%;
    @include transition(all 0.6s);
  }
}

.header-section.open {
  .content::before {
    width: 80%;
    @include transition(all 0.6s);
  }
}

.below-fold {
  position: relative;
  z-index: 5;
}

.img-section {
  height: 600px;
  background: #CCCCCC;
  background: url("../resources/thermos.jpg")  no-repeat fixed center;
  background-size: cover;
}

.project-section {
  height: 800px;
  background: #CCCCCC;
}



.vc-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vc-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  margin: 50px 0;
  margin-left: 5%;
}

.center {
  text-align: center;
}
